.bannerfirst{
    height:500px;
    background-image: url("images/bannerfirst.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.container{
    background-image: url("images/logo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    text-decoration: underline;
    color: rgb(3, 3, 147);
}

h3{
    line-height: 70;
}




/* FOOTER PART */

.details{
    text-align: center;
    background-color:black;
}

.details h3{
    width:50%;
    color: goldenrod;
    margin:0 auto;
    padding:5px;
    position:relative;
    top:10px;
    
}

.icons{
   
    background-color:black;
    text-align: left;
}

.icons i{
    position:relative;
    top:10px;   
    margin:10px;
    padding:10px;
    font-size: 30px;
    color:blue
}